.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description > p{
    inline-size: 220px;
    text-align: center;
}

.description > h3 {
    margin: 0;
}
