body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  width: minmax(500px, 50vw);
  height: 100vh;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, .1);
  border-radius: 20px;
  display: block;
  margin: 30vh auto;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
  height: auto;
}

@media (max-width: 1125){

}
