.part {
    display: flex;
    justify-content: space-between;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary > h3 {
    align-self: flex-start;
}