.part {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, .04);
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 0 10px;
}

.button {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, .04);
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 0 10px;

}

.icon {
    margin-right: 3px
}

.summary {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary > h3 {
    align-self: flex-start;
}

.part > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secGrade > p {
    /* display: inline; */
    margin-right: 5px;
}

.red {
    background-color: rgba(255, 0, 0, 0.03);
}

.red > div > h4 {
    margin: 0;
    color: red;
}

.yellow {
    background-color: rgba(255, 255, 0, 0.1);
}

.yellow > div > h4 {
    margin: 0;
    color: yellow;
}

.green {
    background-color: rgba(0, 255, 255, 0.1);
}

.green > div > h4 {
    margin: 0;
    color: lightgreen;
}

.blue {
    background-color: rgba(0, 0, 0, 0.06);
}

.blue > div > h4 {
    margin: 0;
    color: blue;
}