.part {
    display: flex;
    justify-content: space-between;
}

.summary {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary > h3 {
    align-self: flex-start;
}

.part > div {
    display: flex;
    align-items: center;
    justify-content: center;
}