.result {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 30px;
}